﻿<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Gallery
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Gallery</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div id="gallery_grid" class="wmk_grid">
            <ul>
                <li class="thumbnail">
                    <a href="#" title="Image_1 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_2 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_3 title long title long title long">
                        <img src="../../../Content/againadmin/img/avatar5.png" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_4 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_6 title long title long title long">
                        <img src="../../../Content/againadmin/img/Lighthouse.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_6 title long title long title long">
                        <img src="../../../Content/againadmin/img/Lighthouse.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_6 title long title long title long">
                        <img src="../../../Content/againadmin/img/Lighthouse.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_6 title long title long title long">
                        <img src="../../../Content/againadmin/img/Lighthouse.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_6 title long title long title long">
                        <img src="../../../Content/againadmin/img/Lighthouse.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
                <li class="thumbnail">
                    <a href="#" title="Image_5 title long title long title long">
                        <img src="../../../Content/againadmin/img/user4-128x128.jpg" alt="" />
                    </a>

                </li>
            </ul>
        </div>
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->