﻿
<!--<div class="messageBox">
    <div class="modal-header">
        Header Markup
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label">abcddddddddddddddddddddddddddd</label>
            <div class="col-sm-10">
                <div id="drop_zone">Drag and drop image here</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        Footer Markup
    </div>
</div>-->
<div>
    <div class="modal-header">
        Upload avatar
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <div id="drop_zone">Drag and drop avatar image here</div>
                <img style="height: 200px;" data-bind="attr: {src: url}" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" href="#" data-bind="click: close">Close</a>
    </div>
</div>