﻿<body class="hold-transition skin-purple sidebar-collapse sidebar-mini">
<div class='notifications top-right'></div>
<div id="applicationHost">
</div>
<input type="hidden" id="forgeryToken" value="@GetAntiForgeryToken()"/>
@functions{

    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + "," + formToken;
    }

}
</body>
