﻿<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2014-2015 <a href="#">Thang Vo</a>.</strong> All rights reserved.
</footer>