﻿<div class="login-box">
    <div class="login-logo">
        <b>Share Your Minds</b>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <p class="text-danger" data-bind="visible: !isValidLogin()">Email or password isn't correct</p>
        <form>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !email.isValid() && email.isModified()}, validationOptions: validationOptions">
                <input type="email" class="form-control" placeholder="Email" data-bind="value: email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !password.isValid() && password.isModified()}, validationOptions: validationOptions">
                <input type="password" class="form-control" placeholder="Password" data-bind="value: password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    
                </div>
                <div class="col-xs-4">
                    <a class="btn btn-primary btn-block btn-flat stateLogin" data-bind="click: login" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> Sign In" href="#">Sign In</a>
                </div>
            </div>
        </form>
        <!--<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
        </div>-->
        <a href="#">I forgot my password</a><br>
        <a href="#" class="text-center" data-bind="click: signup">Register a new membership</a>
    </div>
</div>