﻿<form action="dashboard.html" method="post" id="pass_form" style="display:none">
    <div class="top_b">Can't sign in?</div>
    <div class="alert alert-info alert-login">
        Please enter your email address. You will receive a link to create a new password via email.
    </div>
    <div class="cnt_b">
        <div class="formRow clearfix">
            <div class="input-prepend">
                <span class="add-on">@</span><input type="text" placeholder="Your email address" />
            </div>
        </div>
    </div>
    <div class="btm_b tac">
        <button class="btn btn-inverse" type="submit">Request New Password</button>
    </div>
</form>