﻿<div class="register-box">
    <div class="register-logo">
        <b>Share Your Mind</b>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new membership</p>
        <form>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !firstName.isValid() && firstName.isModified()}, validationOptions: validationOptions">
                <input type="text" class="form-control" placeholder="First name" data-bind="value: firstName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !lastName.isValid() && lastName.isModified()}, validationOptions: validationOptions">
                <input type="text" class="form-control" placeholder="Last name" data-bind="value: lastName">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" data-bind="css: {'has-error': (!email.isValid() && email.isModified()) || isExistEmail}, validationOptions: validationOptions">
                <input type="email" class="form-control" placeholder="Email" data-bind="value: email, hasFocus: isExistEmail(false)">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !password.isValid() && password.isModified()}, validationOptions: validationOptions">
                <input type="password" class="form-control" placeholder="Password" data-bind="value: password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" data-bind="css: {'has-error': !confirmPassword.isValid() && confirmPassword.isModified()}, validationOptions: validationOptions">
                <input type="password" class="form-control" placeholder="Retype password" data-bind="value: confirmPassword">
                <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">

                </div>
                <!-- ko if: !isRegistered() -->
                <div class="col-xs-4">
                    <a class="btn btn-primary btn-block btn-flat stateRegister" data-bind="click: register" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> Register" href="#">Register</a>
                </div>
                <!-- /ko -->
                <!-- ko if: isRegistered() -->
                <div class="col-xs-4">
                    <a href="#" class="btn btn-primary btn-block btn-flat" data-bind="click: cancel">Back</a>
                </div>
                <!-- /ko -->
            </div>
        </form>
        <!--<div class="social-auth-links text-center">
            <p>- OR -</p>
            <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign up using Facebook</a>
        </div>-->
        <a href="#" class="text-center" data-bind="click: cancel">I already have a membership</a>
    </div>
</div>