﻿<div class="wrapper">
    <section data-bind="compose: { view: 'views/header', model: 'viewmodels/header'}"></section>
    <section data-bind="compose: { view: 'views/nav', model: 'viewmodels/nav' }"></section>
    <section id="content"
        data-bind="router: { cacheViews: false }">
    </section>
    <section data-bind="compose: { view: 'footer' }"></section>
</div>
