﻿<div class="content-wrapper">
    <section class="content-header">
        <h1 data-bind="text: title"></h1>
    </section>
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <div class="post">
                    <div class="user-block">
                        <img class="img-circle img-bordered-sm" data-bind="attr: {src: userImage().url}" alt="user image">
                        <span class='username'>
                            <a href="#" data-bind="text: user().fullName"></a>
                        </span>
                        <span class='description'><span data-bind="text: dateDisplay"></span> <span data-bind="if: isUpdate"><i class="fa fa-pencil"></i> Edited</span></span>
                    </div>
                    <p data-bind="html: content"></p>
                    <ul class="list-inline">
                        <li><a href="#" class="link-black text-sm" data-bind="click: likeBlog">
                                <!-- ko if: !isLiking() -->
                                <i class="fa fa-thumbs-o-up margin-r-5"></i>
                                <!-- /ko -->
                                <!-- ko if: isLiking -->
                                <i class="fa fa-spinner fa-pulse margin-r-5"></i>
                                <!-- /ko -->
                                <span data-bind="text: likeText"></span>
                            </a>
                            <!--<span data-bind="text: likeDisplay"></span>-->
                        </li>
                        <li class="pull-right"><i class="fa fa-comments-o margin-r-5"></i> <span data-bind="text: commentsDisplay"></span></li>
                    </ul>
                    <div>
                        <!-- ko foreach: comments -->
                        <div class="direct-chat-msg">
                            <div class="direct-chat-info clearfix">
                                <span class="direct-chat-name pull-left" data-bind="text: user().fullName"></span>
                                <span class="direct-chat-timestamp pull-right" data-bind="text: createDate"></span>
                            </div>
                            <img class="direct-chat-img" data-bind="attr: {src: userImage().url}" alt="message user image">
                            <div class="direct-chat-text" data-bind="text: content"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                    <input class="form-control input-sm" type="text" placeholder="Type a comment" data-bind="commentEnter: null">
                </div>
            </div>
        </div>
    </section>
</div>