﻿<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            All minds
            <small>Share you mind to make life beautiful</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">All minds</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <!-- ko foreach: blogs -->
            <div class="box-body">
                <a href="#" class="margin-r-5" data-bind="text: title, click: $root.gotoDetail"></a>
            </div>
            <!-- /ko -->
            <div class="box-footer">
                Paging here
            </div><!-- /.box-footer-->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->