﻿<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            New mind
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">New Your Mind</li>
        </ol>
    </section>
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <label>Title</label>
                <input class="form-control input-lg" type="text" data-bind="value: title">
            </div>
            <div class="box-body pad">
                <form>
                    <textarea id="newblog"
                              placeholder="Place some text here"
                              style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                </form>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-primary btn-flat statePost" data-loading-text="<i class='fa fa-spinner fa-pulse'></i> Post" data-bind="click: createBlog" href="#">Post</a>
            </div><!-- /.box-footer-->
        </div><!-- /.box -->
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->